<?xml version='1.0' encoding='utf-8'?>
<widget id="com.pexeso.soc" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>Pexeso Memory Game</name>
    <description>
        Jednoduchá ukážka hry pexeso.
    </description>
    <author email="kamil.kafunek@yahoo.com">
        Kamil Kafúnek
    </author>
    <preference name="phonegap-version" value="cli-6.3.0" />
    <preference name="android-build-tool" value="gradle" />
		<preference name="orientation" value="portrait" />
		<preference name="fullscreen" value="false" />
		<preference name="target-device" value="universal" />
		<preference name="webviewbounce" value="true" />
		<preference name="prerendered-icon" value="false" />
		<preference name="stay-in-webview" value="true" />
		<preference name="detect-data-types" value="true" />
		<preference name="exit-on-suspend" value="true" />
		<preference name="EnableViewportScale" value="false" />
		<preference name="MediaPlaybackRequiresUserAction" value="false" />
		<preference name="AllowInlineMediaPlayback" value="true" />
		<preference name="BackupWebStorage" value="none" />
		<preference name="TopActivityIndicator" value="white" />
		<preference name="KeyboardDisplayRequiresUserAction" value="true" />
		<preference name="KeyboardShrinksView " value="true" />
		<preference name="HideKeyboardFormAccessoryBar" value="true" />
		<preference name="SuppressesIncrementalRendering" value="false" />
		<preference name="windows-identity-name" value="" />
		<preference name="android-minSdkVersion" value="14" />
		<preference name="android-maxSdkVersion" value="23" />
		<preference name="android-installLocation" value="auto" />
		<preference name="ErrorUrl" value="Niečo je zle :(" />
		<preference name="BackgroundColor" value="0x000000" />
		<preference name="DisallowOverscroll" value="true" />
		<preference name="LoadingDialog" value="Kampo Production," />
		<preference name="LoadUrlTimeoutValue" value="null" />
    
    
    
    <content src="index.html" />
    <access origin="*" />
               
   
 
 <platform name="android">  
     
    <icon src="icon.png" />
    <icon src="res/icon/android/icon-36-ldpi.png"   gap:platform="android"    gap:qualifier="ldpi" />
    <icon src="res/icon/android/icon-48-mdpi.png"   gap:platform="android"    gap:qualifier="mdpi" />
    <icon src="res/icon/android/icon-72-hdpi.png"   gap:platform="android"    gap:qualifier="hdpi" />
    <icon src="res/icon/android/icon-96-xhdpi.png"  gap:platform="android"    gap:qualifier="xhdpi" />
     
 </platform>  

</widget>
